.search_container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	h2 {
		color: white;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 40px;

	}
	form {
		margin: 0;
		margin-left: 25vw;
		text-align: center;
		width: 50%;
		input {
			text-align: center;
			margin: 0;
			padding: 1em;
			width: 100%;
			border: 0;
			border-radius: 8px;
			outline: 0;
			resize: none;
			font-family: 'Open Sans Condensed', sans-serif;
		}
	}
}
.search_bar {
	text-align: center;
	margin: 0;
	width: 100%;
}