<div class="sheet__dashboard">
    <div class="container">
        <a class="mobile" href="">&#9776;</a>
        <nav class="main_nav">
          <ul id="nav">
            <li><a href="/"><img class="nav_img" src="assets/pics/realty.png"></a></li>
            <li><a href="#/about">ABOUT</a></li>
            <!-- <li><a href="#/reviews">TESTIMONIALS</a></li> -->
            <li><a href="#/homes">PROPERTIES</a></li>
            <li><a href="#/buy">BUY</a></li>
            <li><a href="#/sell">SELL</a></li>
            <li><a href="#/contact">CONTACT</a></li>
          </ul>
        </nav>
    </div>
	<div class="bs">
	 <h3> Establishing a base for you in florida </h3>
	</div>
</div>
<div class="sheet__info">
    <div class="kevin_left">
        <h1>Meet</br>Kevin</h1>
        <svg height="20" width="200">
                        <line class="main_line" x1="0" y1="0" x2="200" y2="0" />
        </svg>
        <p>In a short amount of time Kevin has Became one of the most sought after real estate professionals in the bay area. He brings a wealth of knowledge and professional representation to all his discerning clients. Local residents and sophistacted sellers and buyers rely on his expertise to help them navigate the oftem complicated Bay area real estate market.</p>
    </div>
    <div class="kevin_right">
        <img class="KEVIN" src="assets/pics/48_Kevin_Boyer.jpg">
    </div>
</div>
<section class="title">
<h1>
        FEATURED NEIGHBORHOODS
</h1>
</section>
<div class="sheet__neighborhoods">
    <div class="neighborhood1">
        <div class="listing_info">
            <b>Tampa</b>
        </div>
    </div>
    <div class="neighborhood2">
        <div class="listing_info">
            <b>Clearwater</b>
        </div>
    </div>
    <div class="neighborhood3">
        <div class="listing_info">
            <b>St.petersburgs</b>
        </div>
    </div>
</div>